.container-fluid
  .row
    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        %img{:alt => "Home Browse", :src => "assets/home_browse"}/
        .caption
          %h2 Browse All Products
          .padding-below
            Not sure what you are looking for? No problem, browse through
            all our listed products.
          = link_to "Browse All Products", products_path, class: "btn btn-primary"

    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        %img{:alt => "Home About", :src => "assets/home_about"}/
      .thumbnail.thumbnail-no-border
        .caption
          %h2 New To Sfeet?
          .padding-below
            Not sure where to start? Check out our About page, FAQ, and other
            useful information thats Sfeet!
          = link_to "About Sfeet", about_path, class: "btn btn-primary"

    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        %img{:alt => "Home News", :src => "assets/home_news"}/
        .caption
          %h2 Recent News
          .padding-below
            Want to stay up to date on the recent news releases about
            products and brands, follow our news blog.
          = link_to "Recent News", news_path, class: "btn btn-primary"
