.container-fluid
  .row.gray
    .row-header
      .col-md-10.col-md-offset-1
        %h2
          Search Results
        %h5.margin-above
          Tags:
      .col-md-10.col-md-offset-1.col-count-7
        - @tags.sorted.each do |tag|
          = link_to "#{tag.name.capitalize}", tag_path(tag)
          %br

= render partial: 'product_listing', locals: {user: @user, products: @products, empty_msg: "There are no products containing the term(s) #{params[:search]}."}
